{% extends "suunnitelmat/products_navi.html" %}

{% block product_list %}
<div style="display: block;clear:both;">
    <h4 style="display:inline-block;float:left">Suosikit</h4>
</div>
<hr/>
<table class="table table-responsive table-striped table-hover">
    <thead>
        <th>Nimi</th>
        <th>Yksiköt</th>
        <th>Osasto</th>
        <th>Suosikki</th>
        <th>Poista</th>
    </thead>
    <tbody>
        <tr>
            <td><a href="{{base_path}}/products/1">Banaani</a></td>
            <td>
                <label class="label label-primary">kappale</label>
                <label class="label label-default">kilogramma</label>
            </td>
            <td><label class="label label-primary">hedelmät ja vihannekset</label></td>
            <td><button class="btn btn-warning">☆</button></td>
            <td><button class="btn btn-danger">×</button></td>
        </tr>
        <tr>
            <td>Maito, laktoositon</td>
            <td>
                <label class="label label-default">kappale</label>
                <label class="label label-primary">litra</label>
            </td>
            <td><label class="label label-primary">maitotuotteet</label></td>
            <td><button class="btn btn-warning">☆</button></td>
            <td><button class="btn btn-danger">×</button></td>
        </tr>
    </tbody>
    
</table>

{% endblock %}
