{% extends "suunnitelmat/list_navi.html" %}

{% block list %}
<table class="table table-responsive table-striped table-hover">
    <div>Kauppa: <button class="btn btn-default">Prisma, Riihimäki</button></div>
    <thead>
        <tr>
            <th>Tuote</th>
            <th>Määrä</th>
            <th>Osasto</th>
            <th><button class="btn btn-success">Jaa</button></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Banaani</td>
            <td>4 kpl</td>
            <td>hevi</td>
            <td><input class='checkbox checkbox-inline' type="checkbox" checked></td>
        </tr>
        <tr>
            <td>Maito, tavallinen</td>
            <td>2 l</td>
            <td>maitotuotteet</td>
            <td><input class='checkbox checkbox-inline' type="checkbox"></td>
        </tr>
        <tr>
            <td>Maito, laktoositon</td>
            <td>1 l</td>
            <td>maitotuotteet</td>
            <td><input class='checkbox checkbox-inline' type="checkbox"></td>
        </tr>
        <tr>
            <td>Näkkileipä</td>
            <td>1 pkt</td>
            <td>leivät</td>
            <td><input class='checkbox checkbox-inline' type="checkbox" checked></td>
        </tr>
        <tr>
            <td>Loisteputki 40W</td>
            <td>1 kpl</td>
            <td>elektroniikka</td>
            <td><input class='checkbox checkbox-inline' type="checkbox"></td>
        </tr>
    </tbody>
</table>

{% endblock %}