{% extends "product/products_navi.html" %}

{% block product_list %}
<p>{{message}}</p>
<div style="display: block;clear:both;">
    <h4 style="display:inline-block;float:left">Suosikkituotteet</h4>
    <form style="display:inline-block;float:right" action="{{base_path}}/product/new" method="GET">
        <input type="submit" class="btn btn-success" value="Lisää tuote">
    </form>
</div>
<hr/>
<table class="table table-responsive table-striped table-hover">
    <thead>
        <th>Nimi</th>
        <th>Yksikkö</th>
        <th>Osasto</th>
        <th>Suosikki</th>
        <th>Poista</th>
    </thead>
    <tbody>
        {% if products %}
            {% for i in 0..products|length-1 %}
            {% if products[i].favorite == true %}
            <tr>
                <td><a href="{{base_path}}/product/{{products[i].id}}">{{products[i].name}}</a></td>
                <td>
                    <label class="label label-primary">{{product_units[i].name_singular}}</label>
                </td>
                <td><label class="label label-primary">{{product_departments[i].name}}</label></td>
                <td>
                    <form action="{{base_path}}/product/{{products[i].id}}/fave" method="post">
                        {% if products[i].favorite == true %}
                            <input type="submit" value="☆" class="btn btn-warning">
                        {% else %}
                            <input type="submit" value="☆" class="btn btn-default">
                        {% endif %}
                    </form>
                </td>
                <td>
                    <form action="{{base_path}}/product/{{products[i].id}}/delete" onclick="return confirm('Tuote {{products[i].name}} poistetaan pysyvästi!')" method="post">
                        <input type="submit" value="×" class="btn btn-danger">
                    </form>
                </td>
            </tr>
            {% endif %}
            {% endfor %}
        {% endif %}
    </tbody>
    
</table>

{% endblock %}
