{% extends "/suunnitelmat/base.html" %}

{% block content %}
<h2>Lisää uusi tuote</h2><br/>
<form action="{{base_path}}/products" method="POST">
    <div class="form-group">
        <label for="name">Nimi</label>
        <input type="text" placeholder="Tuote" name="name">
    </div>
    <div class="form-group">
        <label for="unit">Yksikkö</label>
        <select name="unit">
            <option value="null"></option>
            {% for unit in units %}
            <option value="{{unit.id}}">{{unit.name_singular}}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <label for="department">Osasto</label>
        <select name="department">
            <option value="null"></option>
            {% for department in departments %}
            <option value="{{department.id}}">{{department.name}}</option>
            {% endfor %}
        </select>
    </div>
    <input type="submit" value="Lisää!" class="btn btn-success">
</form>

{% endblock %}