{% extends "base.html" %}

{% block content %}
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">

        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!-- Sovelluksen nimi -->
          <!--<a class="navbar-brand" href="{{base_path}}">Tsoha Bootstrap</a>-->
        </div>
        
        <div class="collapse navbar-collapse" id="navigation">
          <ul class="nav navbar-nav">
            <!-- Navigaation linkit -->
            {% for list in lists %}
                {% if list.id == active_list.id %}
                <li><a style="color:#000000;cursor:default;background-color:#cccccc"><strong>{{list.name}}</strong></a></li>
                {% else %}
                    <li><a href="{{base_path}}/list/{{list.id}}/set_active">{{list.name}}</a></li>
                {% endif %}
            {% endfor %}
          </ul>
        </div>
      </div>
    </nav>

    {% block list %} {% endblock %}
    <div style="text-align: center;vertical-align: middle;">
        <button type="submit" form="products" value="Submit" class="btn btn-success btn-lg">Päivitä lista</button>
    </div>
{% endblock %}