{% extends "list/list_navi.html" %}

{% block list %}
<!--<div id="list_header" style="display:block;clear:both;">
    <div id="shared_with" style="display:inline-block;float:left;">Jaettu käyttäjien <strong>jope68</strong> ja <strong>mupsi8</strong> kanssa</div>
    <div id="shared_with" style="display:inline-block;float:right;"><button class="btn btn-primary">Jaa lista!</button></div>
</div>
<div id="listan_kauppa" style="display:block;clear:both;">Kauppa: <label class="label label-primary">Prisma, Riihimäki</label></div>-->
{% if active_list %}
<form action="{{base_path}}/list/{{active_list.id}}/update" method="post" id="products">
{% endif %}
<table class="table table-responsive table-striped table-hover">
    <thead>
        <tr>
            <th>Tuote</th>
            <th colspan="2">Määrä</th>
            <th>Osasto</th>
            <th>Kerätty</th>
        </tr>
    </thead>
    {% if purchases %}
    <tbody>
        {% for i in 0..purchases|length-1 %}
        <tr>    
            <td>{{products[i].name}}</td>
            <td colspan="2">{{purchases[i].amount}} {% if units[i] %}{{units[i].abbreviation}}{% else %}kpl{% endif %}</td>
            {% if departments[i] %}
                <td>{{departments[i].name}}</td>
            {% else %}
                <td>-</td>
            {% endif %}
            <td><input name="{{purchases[i].id}}" class='checkbox checkbox-inline' type="checkbox" style="transform: scale(1.5);"></td>
        </tr>
        {% endfor %}
    </tbody>
    {% endif %}
</table>
{% if active_list %}
</form>
<form action="{{base_path}}/purchases" method="post" class="form-inline">
<table class="table table-responsive table-striped table-hover">
    <tr>    
        <td><input name="product_name" type="text" class="form-control" placeholder="Tuotteen nimi"></td>
        <td>
            <input name="amount" type="number" class="form-control" value="1">
        </td>
        <td>
            <select name="unit" class="form-control">
                <option value=""></option>
                {% for unit in all_units %}
                <option value="{{unit.id}}">{{unit.abbreviation}}</option>
                {% endfor %}
            </select>
        </td>
        <td>
            <select name="department" class="form-control">
                <option value=""></option>
                {% for department in all_departments %}
                <option value="{{department.id}}">{{department.name}}</option>
                {% endfor %}
            </select>
            <input name="list" type="hidden" value="{{active_list.id}}"/>
        </td>
        <td><input type="submit" value="Lisää!"/></td>

    </tr>
</table>
</form>
{% endif %}

{% endblock %}